html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: #ddd;
}

body {
  background: linear-gradient(rgb(6, 30, 54), #222);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

.slider-wrapper {
  position: relative;
  width: 600px;
  height: 350px;
  border: 2px solid #fff;
  font-size: 3rem;
  overflow: hidden;
}

.left,
.right {
  position: absolute;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.5;
  z-index: 1;
}

.left:hover,
.right:hover {
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 1;
}

.left i,
.right i {
  pointer-events: none;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  transition: 0.4s;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
