html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(rgb(6, 30, 54), #222);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

.converter {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.m-cm,
.input-div {
  display: flex;
  gap: 2rem;
}

.result-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.cm-only {
  width: 100%;
  position: relative;
}
.cm-only input {
  width: 100%;
}

input {
  width: 100%;
  padding-right: 2rem;
  text-align: right;
}
span {
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
}

input {
  height: 1.9rem;
  font-size: 1rem;
}

input:disabled {
  color: #000;
}

button {
  padding: 0.4rem 1rem;
}

.meters-div,
.centimeters-div,
.inches,
.feet {
  position: relative;
}
